.activity {
  display: flex;
  align-items: baseline;

  .icon {
    margin-right: $base-size;
    flex: 0 0 $base-line-height;

    &.custom-icon {
      width: auto;
      height: $base-line-height;
    }
  }

  .label {
    flex: 1 0 auto;
  }
}
